In [1]:
import pandas as pd

# Read the CSV file
df1 = pd.read_csv("lstm_metrics.csv", index_col="Model_Type")  # Replace with your actual file path
df2 = pd.read_csv("tft_metrics.csv", index_col="Model_Type")  # Replace with your actual file path

# Drop "Best params" column
df1 = df1.drop(columns=["Best params"])
df2 = df2.drop(columns=["Length"])

# # Set "Model_Type" as the index
# df.set_index("Model_Type", inplace=True)

# Rename index as 'Metric'
df1.index.name = "Metric"
df2.index.name = "Metric"

# Transpose the DataFrame
df1 = df1.T
df2 = df2.T

# Concatenate the DataFrames
df = pd.concat([df1, df2], axis=1)

df

Metric,LSTM,BiLSTM,Attention-LSTM,Attention-BiLSTM,Ensemble-LSTM,Temporal-Fusion-Transformer
MSE,5.944204e+07,3.626660e+07,5.819435e+07,5.730049e+07,3.459244e+07,1.622033e+07
RMSE,7.709867e+03,6.022176e+03,7.628522e+03,7.569709e+03,5.881534e+03,4.027448e+03
MAE,5.085702e+03,4.059368e+03,5.003473e+03,4.884503e+03,3.860897e+03,2.432145e+03
MAPE,1.027823e-01,9.436029e-02,1.008071e-01,1.054714e-01,8.330704e-02,4.736530e-02
R2,8.280612e-01,8.950972e-01,8.316702e-01,8.342557e-01,8.999398e-01,9.530819e-01

In [2]:
import pandas as pd

# Read the CSV file
df1 = pd.read_csv("val_arima_metrics.csv", index_col="Model")  # Replace with your actual file path
df2 = pd.read_csv("test_arima_metrics.csv", index_col="Model")  # Replace with your actual file path

# Drop "Best params" column
df1 = df1.drop(columns=["Length"])
df2 = df2.drop(columns=["Length"])

# # Set "Model_Type" as the index
# df.set_index("Model_Type", inplace=True)

# Rename index as 'Metric'
df1.index.name = "Metric"
df2.index.name = "Metric"

# Transpose the DataFrame
df1 = df1.T
df2 = df2.T

# Concatenate the DataFrames
df = pd.concat([df1, df2], axis=1)

df

Metric    sarima_val   sarima_test
MSE     6.909327e+08  1.012415e+09
RMSE    2.628560e+04  3.181847e+04
MAE     2.131962e+04  2.579572e+04
MAPE    4.881029e-01  5.240261e-01
R2     -2.759713e+00 -1.901124e+00